<%= form_for @carrier do |c| %>
  <%= c.label :name %>
  <%= c.text_field :name %>

  <br><br>

  <%= c.label :item_id %>
  <%= c.text_field :item_id %>

  <br><br>

  <%= c.label :manufacturer %>
  <%= c.text_field :manufacturer %>

  <br><br>

  <%= c.label :model %>
  <%= c.text_field :model %>

  <br><br>

  <%= c.label :color %>
  <%= c.text_field :color %>

  <br><br>

  <%= c.label :size %>
  <%= c.text_field :size %>

  <br><br>

  <%= c.label :location_id %>
  <%= c.collection_select :location_id, @locations, :id, :name %>

  <br><br>

  <%= c.label :category_id %>
  <%= c.collection_select :category_id, @categories, :id, :name %>

  <br><br>

  <%= c.label :default_loan_length_days, 'Default Loan Length' %>
  <%= c.number_field :default_loan_length_days %> days

  <br><br>

  <% if @carrier.photos.attached? %>
    <% @carrier.photos.each do |photo| %>
      <%= photo.id %>
      <div class="card">
        <%= image_tag(photo, class: "img-thumbnail") %>
        <%= link_to 'Remove', photo_path(photo.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  <% end%>

  <%= c.label :photos %>
  <%= c.file_field :photos, multiple: true %>

  <br></br>

  <%= c.submit %>
<% end %>
