<%= form_for_filterrific filterrific do |f| %>
  <div class="row">
    <div class="col">
      <%= f.text_field(
              :search_name,
              class: 'filterrific-periodically-observed form-control',
              placeholder: "Name"
      ) %>
    </div>
    <div class="col">
      <%= f.text_field(
              :search_item_id,
              class: 'filterrific-periodically-observed form-control',
              placeholder: "Item ID"
          ) %>
    </div>
    <div class="col">
      <%= f.text_field(
              :search_manufacturer,
              class: 'filterrific-periodically-observed form-control',
              placeholder: "Manufacturer"
      ) %>
    </div>
    <div class="col">
      <%= f.text_field(
              :search_model,
              class: 'filterrific-periodically-observed form-control',
              placeholder: "Model"
      ) %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <%= f.select(
              :with_current_location_id,
              filterrific.select_options[:with_current_location_id],
              { include_blank: 'Any Location' },
              class: 'form-control'
      ) %>
    </div>
    <div class="col-sm-3">
      <%= f.select(
              :with_category_id,
              filterrific.select_options[:with_category_id],
              { include_blank: 'Any Category' },
              class: 'form-control'

      ) %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <% Carrier.aasm.states.each do |s| %>
            <label><%= f.check_box(:with_state_in, {multiple: true}, s.name.to_s, false) %><%= s.display_name %></label>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to "Reset Filters", reset_filterrific_url, class: 'btn btn-secondary btn-sm' %>
    </div>
  </div>
<% end %>
