<%= form_for_filterrific filterrific do |f| %>
  <div class="row">
    <div class="col">
      <%= f.text_field(
              :search_name,
              class: 'filterrific-periodically-observed form-control',
              placeholder: "Name"
      ) %>
    </div>
    <div class="col">
      <%= f.text_field(
              :search_item_id,
              class: 'filterrific-periodically-observed form-control',
              placeholder: "Item ID"
          ) %>
    </div>
    <div class="col">
      <%= f.text_field(
              :search_manufacturer,
              class: 'filterrific-periodically-observed form-control',
              placeholder: "Manufacturer"
      ) %>
    </div>
    <div class="col">
      <%= f.text_field(
              :search_model,
              class: 'filterrific-periodically-observed form-control',
              placeholder: "Model"
      ) %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.select(
              :with_current_location_id,
              filterrific.select_options[:with_current_location_id],
              { include_blank: 'Location' },

      ) %>
      <%= f.select(
              :with_category_id,
              filterrific.select_options[:with_category_id],
              { include_blank: 'Category' },

      ) %>
      <%= f.select(
              :with_status,
              filterrific.select_options[:with_status],
              { include_blank: 'Status' },

      ) %>
      <%= f.select(
              :with_checked_out,
              filterrific.select_options[:with_checked_out],
              { include_blank: 'Checked-Out' },
      ) %>
      <%= link_to "Reset Filters", reset_filterrific_url, class: 'btn btn-secondary btn-sm' %>
    </div>
  </div>
<% end %>
