<div id="filterrific_results">
  <% @carriers.each_slice(4) do |carriers| %>
    <div class="row mb-2">
      <% carriers.each do |carrier| %>
        <div class="col-md-3">
          <div class="card carrier-card">
            <% if carrier.photos.attached? %>
              <div class="text-center">
                <%= link_to carrier do %>
                  <%= image_tag(carrier.photos.first.variant(resize: "200x300").processed, class: "img-thumbnail img-fluid") %>
                <% end %>
              </div>
            <% else %>
              <%= link_to carrier do %>
                <%= image_tag("img_placeholder.svg", class: "img-thumbnail placeholder-img") %>
              <% end %>
            <% end %>
            <div class="card-body">
              <div class="row"><div class="carrier-name"><%= link_to carrier.name, carrier %></div></div>
              <div class="row"><div class="col">Manufacturer:</div><div class="col"><%= carrier.manufacturer %></div></div>
              <div class="row"><div class="col">Model:</div><div class="col"><%= carrier.model %></div></div>
              <div class="row"><div class="col">Current Location:</div><div class="col"><%= carrier.current_location.name %></div></div>
              <div class="row"><div class="col">Home Location:</div><div class="col"><%= carrier.home_location.name %></div></div>
              <div class="row"><div class="col">Category:</div><div class="col"><%= carrier.category.name %></div></div>
              <div class="row"><div class="col">Status:</div><div class="col"><%= carrier.status.titleize %></div></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

