<% if flash[:success] %>
  <div><%= flash[:success] %></div>
<% end %>

<h1><%= @carrier.name %></h1>

<ul>
  <li>Item Id: <%= @carrier.item_id %></li>
  <li>Manufacturer: <%= @carrier.manufacturer %></li>
  <li>Model: <%= @carrier.model %></li>
  <li>Color: <%= @carrier.color %></li>
  <li>Size: <%= @carrier.size %></li>
  <li>Safety Link: <%=link_to "Safety Information",  @carrier.safety_link %></li>
  <li>Category: <%= @carrier.category.name %></li>
  <li>Home Location: <%= @carrier.home_location.name %></li>
  <li>Current Location: <%= @carrier.current_location.name %></li>
  <li>Default Loan Length: <%= @carrier.default_loan_length_days %> days</li>
  <% if @carrier.photos.attached? %>
    <li>Photos:
      <% @carrier.photos.each do |photo| %>
        <%= image_tag(photo.variant(resize: "100x100").processed, class: "img-thumbnail img-fluid") %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if policy(@carrier).edit? %>
  <%= link_to 'Edit', edit_carrier_path %>
<% end %>

<% if policy(@carrier).destroy? %>
  <%= link_to 'Delete', @carrier, method: :delete  %>
<% end %>
