<%= form_with(model: membership_type, local: true) do |form| %>
  <%= form_errors membership_type %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :fee_cents %>
    <%= form.text_field :fee_cents, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :duration_days %>
    <%= form.text_field :duration_days, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :number_of_items %>
    <%= form.text_field :number_of_items, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
