<%= form_with(model: membership_type, local: true) do |form| %>
  <% if membership_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(membership_type.errors.count, "error") %> prohibited this membership_type from being saved:</h2>

      <ul>
      <% membership_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :fee_cents %>
    <%= form.text_field :fee_cents, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :duration_days %>
    <%= form.text_field :duration_days, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :number_of_items %>
    <%= form.text_field :number_of_items, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
