<p id="notice"><%= notice %></p>

<h1>Membership Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Fee</th>
      <th>Duration</th>
      <th>Number of items</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @membership_types.each do |membership_type| %>
      <tr>
        <td><%= membership_type.name %></td>
        <td><%= membership_type.fee %></td>
        <td><%= membership_type.duration %></td>
        <td><%= membership_type.number_of_items %></td>
        <td><%= membership_type.description %></td>
        <td><%= link_to 'Show', membership_type %></td>
        <td><%= link_to 'Edit', edit_membership_type_path(membership_type) %></td>
        <td><%= link_to 'Destroy', membership_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership Type', new_membership_type_path %>
