<div class="card">
  <header class="card-header d-flex align-items-center">
    <h3 class="mr-auto">Membership Types</h3>
    <% if policy(:membership_type).new? %>
      <%= link_to '+ New', new_membership_type_path, class: "btn btn-primary" %>
    <% end %>
  </header>

  <section>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Fee</th>
          <th scope="col">Duration</th>
          <th scope="col">Number of items</th>
          <th scope="col">Description</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @membership_types.each do |membership_type| %>
          <tr>
            <td><%= link_to membership_type.name, membership_type %></td>
            <td><%= membership_type.fee_cents %></td>
            <td><%= membership_type.duration_days %></td>
            <td><%= membership_type.number_of_items %></td>
            <td><%= membership_type.description %></td>
            <td><%= link_to 'Edit', edit_membership_type_path(membership_type) %></td>
            <td><%= link_to 'Destroy', membership_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
