<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @membership_type.name %>
</p>

<p>
  <strong>Fee:</strong>
  <%= number_to_currency(@membership_type.fee) %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @membership_type.duration_days %>
</p>

<p>
  <strong>Number of items:</strong>
  <%= @membership_type.number_of_items %>
</p>

<p>
  <strong>Description:</strong>
  <%= @membership_type.description %>
</p>

<%= link_to 'Edit', edit_membership_type_path(@membership_type) %> |
<%= link_to 'Back', membership_types_path %>
