<h1> <%= @user.name %></h1>

<dl class="row mt-5">
  <dt class="col-sm-2 text-md-right">Email address:</dt>
  <dd class="col-sm-10"><%= @user.email %><br></dd>
  <dt class="col-sm-2 text-md-right">Phone number:</dt>
  <dd class="col-sm-10"><%= @user.phone_number %><br></dd>
  <dt class="col-sm-2 text-md-right">Joined on:</dt>
  <dd class="col-sm-10"><%= @user.created_at %><br></dd>
  <dt class="col-sm-2 text-md-right">Role:</dt>
  <dd class="col-sm-10"><%= @user.role.humanize %><br></dd>
  <dt class="col-sm-2 text-md-right">Membership Status:</dt>
  <dd class="col-sm-10"><%= membership_status(@user) %></dd>
</dl>

<div><%= link_to 'Edit User', edit_user_path(@user), class: "btn btn-primary btn-sm" %>
  <% link_text = (@memberships[:history].size > 0) ? "Renew Membership" : "Add Membership" %>
  <%= link_to link_text, new_user_membership_path(@user), class: "btn btn-primary btn-sm", data: { modal: true } %>
</div>

<div class="card mt-2">
  <%= render partial: 'memberships', locals: { memberships: @memberships} %>
</div>

<div class="card mt-4">
  <%= render partial: 'loan_history', locals: { loans: @loans} %>
</div>