<%= form_with(model: fee_type, local: true) do |form| %>
  <% if fee_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fee_type.errors.count, "error") %> prohibited this fee_type from being saved:</h2>

      <ul>
      <% fee_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
