<div class="card">
  <header class="card-header d-flex align-items-center">
    <h3 class="mr-auto">Fee Types</h3>
    <% if policy(:fee_type).new? %>
      <%= link_to '+ New', new_fee_type_path, class: 'btn btn-primary' %>
    <% end %>
  </header>

  <section>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Fee</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @fee_types.each do |fee_type| %>
          <tr>
            <td><%= link_to fee_type.name, fee_type %></td>
            <td><%= number_to_currency(fee_type.fee) %></td>
            <td align="right">
                <%= link_to 'Edit', edit_fee_type_path(fee_type), class: 'btn btn-primary btn-sm' %> |
                <%= link_to 'Destroy', fee_type, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
