<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fee_type.name %>
</p>

<p>
  <strong>Fee:</strong>
  <%= number_to_currency(@fee_type.fee) %>
</p>

<%= link_to 'Edit', edit_fee_type_path(@fee_type), class: 'btn btn-primary btn-sm' %> |
<%= link_to 'Back', fee_types_path, class: 'btn btn-primary btn-sm' %>
