
<p>Dear <%= @first_name %></p>

<p>You have successfully checked out <%= @carrier_name %>. Details regarding this carrier are as follows:</p>
<ul>  
  <li><%= @category %> </li>
 <li> <%= @color %> </li>
 <li> <%= @item_id %> </li>
</ul>
<p>and it is due back on <%= @due_date %>.</p>

<p>Please keep this email for your records.</p>

<p>Thanks,
  <br />
MidAtlantic Babywearing</p>