<% if loans.empty? %>
  <tr>
    <td colspan="100%">No loans to show</td>
  </tr>
<% else %>
  <% loans.each do |loan| %>
    <tr>
      <td><%= link_to loan.member.name, user_path(loan.member) %></td>
      <td><%= link_to loan.carrier.display_name, carrier_path(loan.carrier) %></td>
      <td><%= loan.due_date %></td>
      <td><%= loan.returned_on %></td>
      <td><%= truncate(loan.notes) %></td>
    </tr>
  <% end %>
<% end %>