<%= form_with(model: agreement, local: true) do |form| %>
  <% if agreement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agreement.errors.count, "error") %> prohibited this agreement from being saved:</h2>

      <ul>
      <% agreement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, rows: 10, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
