<div class="card">
  <header class="card-header d-flex align-items-center">
    <h3 class="mr-auto">Agreements</h3>
    <% if policy(:agreement).new? %>
      <%= link_to '+ New', new_agreement_path, class: "btn btn-primary" %>
    <% end %>
  </header>

  <section>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Signed</th>
          <th scope="col">Title</th>
          <th scope="col">Content</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @agreements.each do |agreement| %>
          <tr>
            <td><%= check_box_tag 'signed', '', agreement.signed_by?(current_user), disabled: true %></td>
            <td><%= link_to agreement.title, agreement %></td>
            <td><%= truncate(agreement.content) %></td>

            <td><%= link_to 'Edit', edit_agreement_path(agreement) %></td>
            <td><%= link_to 'Destroy', agreement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
