<p id="notice"><%= notice %></p>

<% if @signed_agreement %>
  <p>Agreement signed by: <%= @signed_agreement.signature %> at: <%= @signed_agreement.created_at %></p>
<% end %>

<h3><%= @agreement.name %></h3>

<% if policy(:agreement).edit? %>
  <%= link_to 'Edit', edit_agreement_path(@agreement), class: 'btn btn-primary btn-sm' %> |
<% end %>
<%= link_to 'Back', agreements_path, class: 'btn btn-primary btn-sm' %>

<%= render partial: 'versions', locals: { agreement: @agreement } %>
