<p id="notice"><%= notice %></p>

<% if @signed_agreement %>
  <p>Agreement signed at: <%= @signed_agreement.created_at %></p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @agreement.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @agreement.content %>
</p>

<%= link_to 'Sign', signed_agreement_path(@agreement) %> |
<%= link_to 'Edit', edit_agreement_path(@agreement) %> |
<%= link_to 'Back', agreements_path %>
