<p id="notice"><%= notice %></p>

<div class="card">
  <header class="card-header d-flex align-items-center">
    <h1 class="mr-auto">Organizations</h1>
    <%= link_to '+ New', new_organization_path, class: "btn btn-primary" %>
  </header>

  <section>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @organizations.each do |organization| %>
          <tr>
            <td><%= link_to organization.name, organization %></td>
            <td><%= organization.description %></td>
            <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
            <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
