<p id="notice"><%= notice %></p>

<h1> <%= @organization.name %></h1>

<dl class="row mt-5">
  <dt class="col-sm-2 text-md-right">Name:</dt>
  <dd class="col-sm-10"><%= @organization.name %><br></dd>
  <dt class="col-sm-2 text-md-right">Subdomain:</dt>
  <dd class="col-sm-10"><%= @organization.subdomain %><br></dd>
  <dt class="col-sm-2 text-md-right">Email address:</dt>
  <dd class="col-sm-10"><%= @organization.email %><br></dd>
  <dt class="col-sm-2 text-md-right">Phone:</dt>
  <dd class="col-sm-10"><%= @organization.phone %><br></dd>
  <dt class="col-sm-2 text-md-right">Address:</dt>
  <dd class="col-sm-10"><%= @organization.address %><br></dd>
  <dt class="col-sm-2 text-md-right">City:</dt>
  <dd class="col-sm-10"><%= @organization.city %><br></dd>
  <dt class="col-sm-2 text-md-right">State:</dt>
  <dd class="col-sm-10"><%= @organization.state %><br></dd>
  <dt class="col-sm-2 text-md-right">Zip:</dt>
  <dd class="col-sm-10"><%= @organization.zip %><br></dd>
  <dt class="col-sm-2 text-md-right">Created:</dt>
  <dd class="col-sm-10"><%= @organization.created_at %><br></dd>
  <dt class="col-sm-2 text-md-right">Updated:</dt>
  <dd class="col-sm-10"><%= @organization.updated_at %></dd>
</dl>

<div><%= link_to 'Edit Organization', edit_organization_path(@organization), class: "btn btn-primary btn-sm" %>
</div>
