<p id="notice"><%= notice %></p>

<div class="card">
  <header class="card-header d-flex align-items-center">
    <h1 class="mr-auto">Categories</h1>
    <%= link_to '+ New', new_category_path, class: "btn btn-primary" %>
  </header>

  <section>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Parent</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= link_to category.name, category %></td>
            <td><%= category.description %></td>
            <td><%= category.parent&.name %></td>
            <td><%= link_to 'Edit', edit_category_path(category) %></td>
            <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
