<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Carriers:</strong>
  <% if @category.carriers.blank? %>
    <p>There are no carriers of this type in inventory at this time. Please check back later.</p>
  <% else %>
    <ul>
      <% @category.carriers.each do |carrier| %>
        <li><%= link_to carrier.name, carrier_path(carrier) %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @category.parent&.name %>
</p>

<%= link_to 'Edit', edit_category_path(@category), class: "btn btn-primary"  %> |
<%= link_to 'Back', categories_path, class: "btn btn-primary"  %>
