<p>Welcome to MidAtlantic Babywearing!</p>

<p>We are so excited to have you join us. We hope you enjoy trying all the different carriers as much as we do. Our volunteers are ready to help guide, teach and support you on your babywearing journey. Feel free to reach out on facebook, email, or soon on our website.</p>

<p>Please keep this email for your records. Your account information is as follows:</p>

<dl>
  <dt>Name:</dt>
  <dd><%= @user.name %></dd>
  <dt>Phone:</dt>
  <dd><%= @user.phone_number %></dd>
  <dt>Email:</dt>
  <dd><%= @user.email %></dd>
  <dt>Address:</dt>
  <dd><%= @user.street_address %></dd>
  <dt>City:</dt>
  <dd><%= @user.city %></dd>
  <dt>State:</dt>
  <dd><%= @user.state %></dd>
  <dt>Postal Code:</dt>
  <dd><%= @user.postal_code %></dd>
</dl>
<p>
  <%= link_to "Click here",  @link_url %> to visit the site!
</p>
