<%= form_with model: @location, local: true do |form| %>
  <%= form_errors @location %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
