<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"> <a class="navbar-brand" href="/"><%= image_tag "Babywearing Logo.svg", alt:"Mid-Atlantic Babywearing Logo" %></a>
    <% if signed_in? %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active background-blue">
          <%= link_to new_user_registration_path, class: 'nav-link nav-icon nav-first' do %>
            <%= image_tag "BW- CREATE USER ICON.svg", alt:"Create a User" %><p>CREATE USER</p>
          <% end %>
        </li>
        <li class="nav-item active background-slate">
          <%= link_to new_carrier_path, class: 'nav-link nav-icon nav-second' do %>
            <%= image_tag "BW- ADD USER ICON.svg", alt:"Add an Item" %><p>ADD ITEM</p>
          <% end %>
        </li>
        <li class="nav-item active background-dark-purple">
          <a class="nav-link nav-icon nav-third" href="/"><%= image_tag "BW- CART ICON.svg", alt:"Cart" %><p>CHECK IN/OUT</p></a></li>
        <li class="nav-item active background-purple">
          <a class="nav-link nav-icon nav-fourth" href="/"><%= image_tag "BW - INVENTORY ICON.svg", alt:"View Inventory" %><p>CARRIERS</p></a></li>
        <% if user_signed_in? %>
          <% if user_can_add_new_member(current_user) %>
            <li class="nav-item active background-blue members-tile">
              <%= link_to users_path, class: 'nav-link nav-icon nav-five' do %>
               <%= fa_icon "users", class: "members-icon"%><p>VIEW MEMBERS</p>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center user-dropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="bg-info text-white font-weight-bolder rounded-circle text-uppercase justify-content-center d-flex align-items-center" style="width: 40px; height: 40px"><%= user_initials(current_user) %></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <h6 class="dropdown-header"><div class="mb-1">Logged in as </div><strong><%= current_user.email %></strong></h6>
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %>
            </div>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %>
            <%= link_to "Log in", new_user_session_path, :class => 'nav-link'  %>
          </li>
        <% end %>
      </ul>
    </div>
</nav>
