<nav class="col-12 col-md-2 border-right border-secondary">
  <ul class="list-unstyled components mt-2">
    <li>
      <%= link_to 'Home', root_path %>
    </li>
    <li>
      <%= link_to 'Categories', categories_path %>
    </li>
    <li>
      <%= link_to 'Locations', locations_path %>
    </li>
    <li>
      <%= link_to 'Agreements', agreements_path %>
    </li>
    <li>
      <%= link_to 'Fee Types', fee_types_path %>
    </li>
    <li>
      <%= link_to 'Carriers', carriers_path %>
    </li>
    <li>
      <%= link_to 'Loans', loan_listing_path %>
    </li>
    <li>
      <%= link_to 'Membership Types', membership_types_path %>
    </li>
  </ul>
</nav>
<% if @version.present? %>
  <div class="version">
    <%= @version %>
  </div>
<% end %>
