<% if signed_in? %>
    <!-- Sidebar -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <%= link_to 'Home', root_path %>
      </div>

      <ul class="list-unstyled components">
          <li>
              <%= link_to 'Categories', categories_path %>
          </li>
          <li>
              <%= link_to 'Locations', locations_path %>
          </li>
          <li>
              <%= link_to 'Agreements', agreements_path %>
          </li>
          <li>
              <%= link_to 'Fee Types', fee_types_path %>
          </li>
          <li>
              <%= link_to 'Carriers', carriers_path %>
          </li>
      </ul>

  </nav>
  <!-- Page Content -->
  

<% end %>