<!DOCTYPE html>
<html>
  <head>
    <title>Babywearing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand"> <a class="navbar-brand" href="/"><%= image_tag "Babywearing Logo.svg", alt:"Mid-Atlantic Babywearing Logo" %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active background-blue">
          <%= link_to new_user_registration_path, class: 'nav-link nav-icon nav-first' do %>
          <%= image_tag "BW- CREATE USER ICON.svg", alt:"Create a User" %><p>CREATE USER</p>
          <% end %>
          </li>
        <li class="nav-item active background-slate">
        <a class="nav-link nav-icon nav-second" href="/"><%= image_tag "BW- ADD USER ICON.svg", alt:"Add an Item" %><p>ADD ITEM</p></a></li>
        <li class="nav-item active background-dark-purple">
        <a class="nav-link nav-icon nav-third" href="/"><%= image_tag "BW- CART ICON.svg", alt:"Cart" %><p>CHECK IN/OUT</p></a></li>
        <li class="nav-item active background-purple">
        <a class="nav-link nav-icon nav-fourth" href="/"><%= image_tag "BW - INVENTORY ICON.svg", alt:"View Inventory" %><p>CARRIERS</p></a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Quick Access
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <%= render "shared/flash" %>
    <div id="outer-container" class="container">


      <div id="sidebar">
        <% if signed_in? %>
        <nav id="sidebar">
          <div class="sidebar-header">
              <%= link_to 'Home', root_path %>
          </div>
          <ul class="list-unstyled components">
              <li>
                  <%= link_to 'Categories', categories_path %>
              </li>
              <li>
                  <%= link_to 'Locations', locations_path %>
              </li>
              <li>
                  <%= link_to 'Agreements', agreements_path %>
              </li>
              <li>
                  <%= link_to 'Fee Types', fee_types_path %>
              </li>
              <li>
                  <%= link_to 'Carriers', carriers_path %>
              </li>
              <li>
                  <%= link_to 'Membership Types', membership_types_path %>
              </li>
              <li>
                  <%= link_to 'Organizations', organizations_path %>
              </li>
          </ul>
        </nav>
        <% end %>
      </div>
      
      <div class="content">
        <%= yield %>
      </div>

    </div>
    
    <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </p>
      
  </body>
</html>
