<!DOCTYPE html>
<html>
  <head>
    <title>Babywearing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>

    <%= render "shared/flash" %>

    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <%= render "layouts/sidebar" if signed_in? %>

        <main class="col-12 col-md-10 mt-2 mx-auto">
          <%= yield %>
        </main>
      </div>
    </div>

    <%= tag.div id: "modal-holder" %>
  </body>
</html>
