<div class="field">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name, required: true %>

</div><div class="field">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name, required: true %>
</div>

<div class="field">
  <%= f.label :street_address %><br />
  <%= f.text_field :street_address, required: true %>
</div>

<div class="field">
  <%= f.label "Apt, Suite, Floor, etc" %><br />
  <%= f.text_field :street_address_second %>
</div>

<div class="field">
  <%= f.label :city %><br />
  <%= f.text_field :city, required: true %>
</div>

<div class="field">
  <%= f.label :state %><br />
  <%= f.text_field :state, required: true %>
</div>

<div class="field">
  <%= f.label :postal_code %><br />
  <%= f.text_field :postal_code, required: true %>
</div>

<div class="field">
  <%= f.label :phone_number %><br />
  <%= f.text_field :phone_number, required: true %>
</div>
